<footer class="footer__base">
    <ul class="footer__content">

        <!-- <li class="footer__option">
            <button class="footer__button footer__modalButton" >
                <span class="footer__buttonIcon" role="img" aria-label="Instructions">ℹ️</span>
            </button>
        </li> -->
        <li class="footer__option">
        <div class="container d-flex justify-content-sm-end" title="referral" id="referral">
         <div id="Ref_Button"> <button type="button" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#myModal3" id="Ref_Button" style="font-family: Gilroy">Refer a Friend</button> </div>
        </div>
        </li>
        <div class="container d-flex justify-content-sm-end" title="Instructions" id="toggleInstructions" style="float: right;">
         <div style="float: right;" class="footer__option"> <button id="Instru_Button" type="button" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#myModal2" style="font-family: Gilroy">Join the Waitlist</button> </div>
        </div>

        <li class="footer__option"></li>
            <button class="footer__button footer__toggleButton" id="toggleSound">
                <span class="footer__buttonIcon" role="img">🔊</span>
            </button>
        </li>
        <li class="footer__option">
            <button class="footer__button footer__toggleButton" id="toggleVibration">
                <span class="footer__buttonIcon" role="img">⚡</span>
            </button>
        </li>
    </ul>
</footer>
