<footer class="footer__base">
    <ul class="footer__content">

        <!-- <li class="footer__option">
            <button class="footer__button footer__modalButton" >
                <span class="footer__buttonIcon" role="img" aria-label="Instructions">ℹ️</span>
            </button>
        </li> -->
        <div class="container d-flex justify-content-sm-end" title="Instructions" id="toggleInstructions">
         <div> <button id="Instru_Button" type="button" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#myModal2" style="font-family: Avenir Next">Instructions</button> </div>
        </div>

        <li class="footer__option">
            <button class="footer__button footer__toggleButton" id="toggleSound">
                <span class="footer__buttonIcon" role="img">🔊</span>
            </button>
        </li>
        <li class="footer__option">
            <button class="footer__button footer__toggleButton" id="toggleVibration">
                <span class="footer__buttonIcon" role="img">🍆</span>
            </button>
        </li>
    </ul>
</footer>
